#tool-top
  position fixed
  right 20%
  bottom 50px
  background color-footer-background
  display none
  border-radius 50%
  @media mq-mobile
    right 10px
    bottom 20px


  .btn-icon-up
    padding 10px
    &:before
      content: '\f062'